/*
Colors used:
primary color (pink): #ea638c;
secondary color (light green): #cad2c5;
contrast color (black): #07090f;
background color (off-white): #f4f2f3;
secondary background color (light-grey): #ece8ef;
link hovering color (middle grey): #707070;
brand color (teal): #30AB96;
button color (light teal): #5BB1A2;
*/
/* GENERAL=================
========================*/
* {
  box-sizing: border-box;
}

body {
  background-color: #eae7dc;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #07090f;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #d8c3a5;
  padding: 10px 0 10px 0;
  margin: 0;
  border-bottom: 2px solid #8e8d8a;
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.75);
  text-align: center;
}

main {
  padding-top: 104px;
}

footer {
  text-align: center;
}

h1, h2, h3 h4 {
font-family: 'Montserrat', sans-serif;
color: #727272;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #d8c3a5;
  line-height: 1.4em;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}

h4 {
  font-size: 1em;
  font-weight: 500;
}

a {
  color: #e98074;
  /*This color doesn't apply     selbe Farbe wie a nehmen!*/
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: #707070;
  text-decoration: none;
}

/* Underlining when hovering over a link */
a:focus {
  color: #707070;
  text-decoration: none;
}

a:active {
  /* selected link     selbe farbe wie ??? nehmen*/
  color: #707070;
}

/* ELEMENTS=================
========================*/
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #e98074;
  color: #07090f !important;
  text-transform: uppercase;
  font-weight: 500;
  /* needed to override the default link color */
  padding: 10px 20px;
  border-radius: 30px;
  border-bottom: 1px solid #e85a4f;
  box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.75);
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #07090f !important;
  text-transform: uppercase;
  border: 2px solid #e85a4f;
}

.button.contact:hover {
  background-color: #e85a4f;
  color: #eae7dc !important;
}

.center {
  text-transform: uppercase;
  padding: 20px 0 0 0;
}

.logo {
  font-family: 'Montserrat', cursive;
  color: #07090f !important;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 0;
  text-decoration: none;
}

i {
  font-size: 3em;
}

img {
  width: 100%;
}

.about img {
  max-width: 800px;
  margin-top: 40px;
}

.about {
  text-align: center;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(800px, 50px);
  }
}

.cloud-front {
  animation: 45s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(800px, 48px);
  }
}

.cloud-back {
  animation: 50s cloud-move-reverse infinite alternate linear;
}

.social {
  list-style-type: none;
  padding: 0;
  margin: 30px 0 15px;
  display: block;
  text-align: center;
  width: 100%;
  color: #8e8d8a !important;
}

#social {
  padding: 20px 0 0 0;
}

#mywork {
  text-align: center;
}

#mywork svg {
  width: 100%;
}

nav {}

nav>ul {
  padding: 0;
  margin: 18px 0 0 0;
}

nav>ul>li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav>ul>li>a {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  color: #e85a4f !important;
  text-decoration: none;
  margin: 0.4em;
}

.social li {
  display: inline;
  list-style-type: none;
  width: auto;
  align-items: center;
  margin: 0 1em;
}

nav>ul, ul.social {
  padding: 0;
}

.container {
  padding: 0 15px;
}

#hero {
  background-color: #e85a4f;
  padding: 40px 0 20px 0;
  display: inline-block;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-family: 'PT Serif', serif;
  color: #d8c3a5;
}

#hero h1 {
  margin: 0;
  background-color: #e85a4f;
}

#hero span {
  display: block;
}

#hero p {
  text-transform: none;
}

#herovoxapp {
  background-color: #e85a4f;
  padding: 40px 0 20px 0;
        text-align: center;
  font-family: 'PT Serif', serif;
  color: #d8c3a5;
}

#herovoxapp h1 {
  text-transform: uppercase;
}

#herovoxapp h2 {
  color: #d8c3a5;
}

#herolocago {
  background-color: #e85a4f;
  padding: 40px 0 20px 0;
      text-align: center;
  font-family: 'PT Serif', serif;
  color: #d8c3a5;
}

#herolocago h1 {
  text-transform: uppercase;
}

#herolocago h2 {
  color: #d8c3a5;
}

#heroabout {
  background-color: #e98074;
  padding: 10px 0 20px 0;
  text-transform: uppercase;
  }

#heroabout h1 {
  padding: 0;
  margin: 10px 0 0 0;
}
.row {
  margin: 25px 0;
  color: #07090f;
}

#mywork .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #8e8d8a;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media (min-width: 640px) {
  #skillsandtools h3 {
    margin-top: 0;
  }

  body {
    font-size: 18px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
    position: relative;
    overflow: hidden;
  }

  main {
    padding-top: 0;
  }

  .col-md-4 {
    width: 33.33%
  }

  .col-md-6 {
    width: 50%;
  }

  h3 {
    margin-top: 0;
  }

  #hero {
    padding-top: 20px;
  }

  .logo {
    float: left;
    position: relative;
    font-size: 1.75em;
  }

  nav {
    float: right;
    width: auto;
    margin-top: 4px;
  }

  span {
    padding: 0 0 20px 0;
  }

  #loca-gostudy {
    text-align: left;
  }

  #voxappstudy {
    text-align: left;
  }

  #animation {
    text-align: left;
  }

  #portfolio {
    text-align: left;
  }

  .row::after {
      content: "";
      clear: both;
      display: table;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media (min-width: 1024px) {
  header {
    padding: 20px 0;
  }

  footer {
    display: inline-block;
    width: 100%;
  }
  h1 {
    font-size: 3em;
  }

.col-lg-8 {
  width: 66.66%;
}

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
  }

#aboutdetails {
  display: inline-block;
}

  #hero {
    padding: 20px 0 20px 0;
  }

    nav {
    width: auto;
    margin-top: 0;
  }

  nav>ul {
    margin: 8px 0 0 0;
  }

  span {
    text-align: center;
  }

  .bordersout {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .bordersout * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

  .bordersout li {
    display: inline;
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }

  .bordersout a {
    padding: 0.4em 0;
    color: black;
    position: relative;
    text-decoration: none;
    display: inline;
  }

  .bordersout a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
    border-top: 2px solid #07090f;
    border-bottom: 2px solid #07090f;
  }

  .bordersout a:hover,
  .bordersout .current a {
    color: #ffffff;
  }

  .bordersout a:hover:before,
  .bordersout .current a:before {
    opacity: 1;
    top: 0;
    bottom: 0;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media (min-width: 1440px) {}
