/*
Colors used:
primary color (pink): #ea638c;
secondary color (light green): #cad2c5;
contrast color (black): #07090f;
background color (off-white): #f4f2f3;
secondary background color (light-grey): #ece8ef;
link hovering color (middle grey): #707070;
brand color (teal): #30AB96;
button color (light teal): #5BB1A2;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #F4F2F3;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #07090f;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Julius Sans One', serif;
  line-height: 1.4;
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 700;
}

a {
  color: #707070;
  /*This color doesn't apply     selbe Farbe wie a nehmen!*/
  text-decoration: underline;
}

a:visited {
  /* visited link */
  color: #707070;
  text-decoration: underline;
}

a:hover {
  color: #707070;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:active {
  /* selected link     selbe farbe wie ??? nehmen*/
  color: #707070;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #5BB1A2;
  color: #07090f !important;
  /* needed to override the default link color */
  padding: 10px;
  border-radius: 2px;
  border-bottom: 1px solid #377E72;
  /* width of the border, type, color */
  transition: 0.4s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80%   line für button hintun!*/
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #07090f !important;
  text-transform: uppercase;
  border: 2px solid #5BB1A2;
  transition: 0.4s opacity;
}

.button.contact:hover {
  background-color: #5BB1A2;
  color: #ffffff !important;
}

header {
  background-color: #79CCBE;
  padding: 10px 0;
  margin: 0;
  border-bottom: 3px solid #4a4a4a;
  position: fixed;
    width: 100%;
  text-align: unset;
  box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.75);
}

.logo {
  font-family: 'Fredericka the Great', cursive;
  color: #07090f !important;
  font-size: 1.5em;
  display: block;
    max-width: 400px;
    padding-top: 0;
    text-align: center;
  text-decoration: none
}
}
i {
  font-size: 3em;
}

img {
  width: 100%;
}

footer {
  text-align: center;
}
main {
  padding: 77px 10px 0 10px ;
}
nav>ul>li {
  list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
    width: 100%;
    }

nav>ul>li>a {
        text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  text-decoration: none
}

/* Layout styling */
.container {
  padding: 0 15px;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0 text-align: center;
  background-color: #ffe4c4;
}

.logo {
  max-width: 250px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
  color: #07090f;
}

#mywork .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
