/*
Colors used:
primary color (pink): #ea638c;
secondary color (light green): #cad2c5;
contrast color (black): #07090f;
background color (off-white): #f4f2f3;
secondary background color (light-grey): #ece8ef;
link hovering color (middle grey): #707070;
brand color (teal): #30AB96;
button color (light teal): #5BB1A2;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #F4F2F3;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #07090f;
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
}

h1 {
  font-family: 'Julius Sans One', serif;
  line-height: 1em;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

#myworkheading {
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 700;
}

a {
  color: #707070;
  /*This color doesn't apply     selbe Farbe wie a nehmen!*/
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: #707070;
  text-decoration: none;
}

/* Underlining when hovering over a link */
a:focus {
  color: #707070;
  text-decoration: none;
}

a:active {
  /* selected link     selbe farbe wie ??? nehmen*/
  color: #707070;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #A4B786;
  color: #07090f !important;
  /* needed to override the default link color */
  padding: 10px;
  border-radius: 2px;
  border-bottom: 1px solid #6B7757;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #07090f !important;
  text-transform: uppercase;
  border: 2px solid #07090f;
  transition: 0.2s;
  opacity;
}

.button.contact:hover {
  background-color: #A4B786;
  color: #black !important;
}

header {
  background-color: #B3CFB3;
  padding: 10px 0 0 0;
  margin: 0;
  border-bottom: 2px solid #6B7757;
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.75);
}

.logo {
  font-family: 'Fredericka the Great', cursive;
  color: #07090f !important;
  font-size: 1.75em;
  display: inline;
  max-width: 400px;
  padding-top: 0;
  text-align: center;
  text-decoration: none
}

i {
  font-size: 3em;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(800px, 50px);
  }
}

.cloud-front {
  animation: 45s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(800px, 48px);
  }
}

.cloud-back {
  animation: 50s cloud-move-reverse infinite alternate linear;
}

@keyframes lilievonlinks {
  from {
    transform: scale(0.5, 0.5);
  }

  to {
    transform: scale(50px, 50px);
  }
}

.lilieoben {
  animation: 5s lilievonlinks;
}

@keyframes lilievonrechts {
  from {
    transform: scale(0.5, 0.5);
  }

  to {
    transform: scale(50px, 50px);
  }
}

@keyframes lilienvonunten {
  from {
    transform: rotate(10);
  }

  to {
    transform: rotate(100);
  }
}

.lilienmitte {
  animation: 5s lilienvonunten alternate ease-out;
}

@keyframes lilieunten {
  from {
    transform: scale(1px, 1px);
  }

  to {
    transform: scale(50px, 50px);
  }
}

.lilieunten {
  animation: 5s lilieunten alternate linear;
}

footer {
  text-align: center;
}

.social {
  list-style-type: none;
  padding: 0;
  margin: 30px 0 15px;
  display: block;
  text-align: center;
  width: 100%;
}

main {
  padding: 150px 0 0 0;
  }

#mywork svg {
  width: 100%;
}

nav {
  text-align: center;
}

nav>ul {
  padding: 0;
}

nav>ul>li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: auto;
}

nav>ul>li>a {
  font-family: "Julius Sans One";
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  text-decoration: none;
  margin: 0.4em 0.4em;
  }

.bordersout {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.bordersout * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.bordersout li {
  display: inline-block;
  list-style: outside none none;
    padding: 0;
}

.bordersout a {
  padding: 0.1em 0;
  color: black;
  position: relative;
  text-decoration: none;
  display: inline;
}

.bordersout a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 2px solid #07090f;
  border-bottom: 2px solid #07090f;
}

.bordersout a:hover,
.bordersout .current a {
  color: #ffffff;
}

.bordersout a:hover:before,
.bordersout .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}
ul.bordersout {
    padding: 0;
}

.social li {
  display: inline;
  list-style-type: none;
  width: auto;
  align-items: center;
  margin-top: 4px;
  padding: 0 15px 0 0;
}

nav ul, ul.social {
 padding: 0;
}
/* Layout styling */
.container {
  padding: 0 15px;
}

#hero {
  background-color: #ffe4c4;
  padding: 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
  text-align: center;
  background-color: #ffe4c4;
}

#hero span {
  display: block;
}

.logo {
  max-width: 250px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
  color: #07090f;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#mywork .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

[class*="col-"] {
  float: left;
  padding: 0 10px 0 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  #skillsandtools h3 {
    margin-top: 0;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
    position: relative;
  }

  #hero {
    padding-top: 98px;
  }


  nav {
    width: auto;
    margin-top: 0;
  }

  main {
    padding-top: 200px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

body {
  font-size: 18px;
}

.col-md-7 {
  width: 58.33%;
}

.col-md-5 {
  width: 41.66%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
  padding: 20px 0;
}

#hero {
  padding-top: 10px;
}

nav {
  width: auto;
  float: right;
  margin-top: 0;
}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* Exercise 22.10.2019
ISSUES:

- please look at the index page, the navigation and content disappears on the right side. Why?
 - the logo is shown in 2 rows. Why?
 - on the left, there is margin in the main section but not on the right, I set all sides to 0 except the top. Why?
- on about and index page, the hero section touches the edges but not on project page. Why?
- do I have to add the styling for larger sizes all over again?
- on the project page, I tried to style 3 columns for the overview. Now they look messy. Is it best to do This
in a table?
- adding the transition works for the normal button but not for the contact button?
Here I had to add it to the hover state?
